
body{
    background-color: rgba(159, 199, 206, 0.616); 
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
   

}

@media print{
    h1{
        align-content: center;
        background: red;
    }
}
h3{
    color: red;
    font-size: 200px;
}
h5 {
    align-content: center;
}


/*#form {
    border: solid;

}*/
#tabled {
    border-radius: 10px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid;
}

#tabley {
    border-radius: 10px;
    border-left: 1px 0px dotted;
    border-right: 1px 0px double;
    border-bottom: 1px 0px double;
    border-top: 1px 0px double;
}
#tableh{
    border-radius: 5px;
    border-left:solid;
    border-right:solid;
    border-bottom:solid;
    border-top:solid;
}
#tabledied{
    border: solid;
}

#physical{
    align-content: center;
}
input[type=radio] #married{
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    padding: 10px;
}
input[type=radio]{
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    padding: 10px;
}
input[type=checkbox]{
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    padding: 10px;
}

.borderless table{
    border-top-style: none!important;
    border-left-style: none!important;
    border-right-style: none!important;
    border-bottom-style: none!important;
}
